.video-list-item {
  width: 48%;
  margin: 1%;
}

.list-item-container {
  display: flex;
  flex-direction: row;
  border: 4px solid #00D8FF;
  width: 100%;
  height: 90px;
  margin: none;
  background-color: rgba(56, 56, 56, 0.99);
  color: white;
}

.list-item-title {
  padding: 10px 10px;
  text-align: left;
}
